@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #242424; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Main */
html, body{ 
  font-family: 'Catamaran', sans-serif !important;
	width: 100%;
	height: 100%;
  background:#111;
  /* overflow: hidden; */
  box-sizing: border-box;
}

#nodes{
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  right: 500px;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#logoIzq{
  position: absolute;
  width: 15vw;
  bottom: 0px;
}

/* D3 */
.node {
  stroke: rgb(172, 172, 172);
  stroke-width: 1px;
}

.link {
  stroke: rgb(131, 129, 129);
}

.node text { 
  font-family: 'Catamaran', sans-serif !important;
  font: 14px sans-serif;
  color: white;
  letter-spacing: 0.5px;
}

/* Modals */
.modal-content{
  color: white;
  background-color: rgba(0, 0, 0, 0.774) !important;
}

.modal-body img{
  width: 200px;
}

.modal-body{
  text-align: justify;
}

.about {
  display: flex;
  flex-direction: column;
}

.about h3{
  color: #337ab7;
}

.modal-body .about{
  width: 1900px !important;
}

.modal-body h4{
  font-size: 19px;
  padding-bottom: 20px;
}

#about{
  background-color: black;
}

hr{
  color: white;
}

#metodosPago{
  align-items: center;
  display: flex;
  justify-content: space-around;
}

button{
  color: black !important;
  margin-left: 20px;
  border-radius: 10px;
}

#abonarbtn{
  width: 70px;
  margin: auto;
}

/* Nav */
#nav{
  position: absolute;
  right: 5%;
  top: 2%;
}

#nav a{
  padding-left: 20px;
}

a{
  cursor: pointer;
}

/* Preview */
#description{
  width: 33%;
  background-color: rgba(0, 0, 0, 0.788);
  color: white;
  position: absolute;
  left: 3%;
  top: 5%;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
}

#closeBtn{
  margin-left: 300px;
}

#buttonsContainer{
  display: inline;
}

#descriptionText{
  width: 420px;
  margin-bottom: 20px;
}

#description p{
  padding-top: 10px;
  font-style: italic;
  text-align: justify;
}

h3{
  display: inline;
}

#ver{
  position: relative;
  top: 0px;
  text-align: right;
  margin-top: 0px !important;
  color: #337ab7;
  font-size: 15px;
  cursor: pointer;
  font-style: normal !important;
}

#trailer{
  height: 250px;
  padding-bottom: 10px;
  display: block;
}

/* Episodio */
#episode{
  display: flex;
  width: 95vw;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.959);
  color: white;
  position: absolute;
  left: 3%;
  top: 3%;
  padding: 10px;
  border-radius: 10px;
  z-index: 10;
  /* text-align: justify; */
  flex-direction: column;
}

#info{
  position: relative;
  padding: 20px;
  bottom: 0;
  width: 60vw;
  margin-left: 13.3vw;
  height: 300px;
  font-size: 1.3em;
}

.video{
  height: 90vh;
  width: 500px;
  
}

#header{
  width: 90vw;
  display: inline;
}

#regresar{
  position: absolute;
  top: 20px;
  right: 15vw;
  font-size: 20px;
  z-index: 20;
  margin-top: 2vh
}

#episodeDescription{
  font-style: italic;
  color: rgb(189, 174, 174);
}

#episodeTitle{
  margin-left: 14.4vw;
}

#episodeFicha{
  color: rgb(119, 116, 116);
}

iframe{
  width: 65vw !important;
  margin-left: 15vw !important;
}

@media only screen and (max-width: 1100px) {
  #episode{
    width: 100%;
    flex-direction: column;
  }
  video{
    margin: 10% 0%;
  }
  #info{
    width: 90%;
  }
  #metodosPago img{
    width: 100px;
  }
}

#gifContainer{
  margin-left: 100px;
}

#gif{
  width: 400px;
}

@media only screen and (max-width: 600px) {
  #gifContainer{
    margin: auto;
  }
  #gifContainer img{
    width: 300px;
  }

  #description{
    width: 100%;
  }
  #descriptionText{
    width: 250px;
  }

  #trailer{
    height: 170px;
  }
  #closeBtn{
    margin-left: 150px;
  }

  #regresar{
    position: inherit;
  }

  iframe{
    width: 90vw !important;
    margin: auto !important;
  }

  #info{
    margin: auto;
  }

  #nodes{
    right: 60px;
    width: 300px;
    height: 600px;
  }
}